{{ define "main" }}
<main class="container">
  <h1>{{ .Title }}</h1>

  <h2>Schedule</h2>
  <p>
  <table class="table">
    <thead>
      <tr>
      <th></th>
      <th>Due date</th>
      </tr>
    </thead>
    <tbody>
        {{ range .Data.Pages.ByDate }}
        <tr>
          <td>
            {{ if .Params.Draft }}
              {{ .Title }}
            {{ else }}
              <a href="{{ .URL }}">{{ .Title }}</a>
            {{ end }}
          </td>
          <td>
            {{ if .Date }}
              {{ dateFormat "Jan 2, 3:04 PM" .Date }}
            {{ end }}
          </td>
        </tr>
        {{ end }}
    </tbody>
  </table>

  <h2>Instructions</h2>

  {{ .Content }}

</main>
{{ end }}
