{{ define "main" }}
<div class="container">

  <h1>Schedule</h1>

  {{ .Content }}

  {{ range .Data.Pages.ByDate }}
    <hr>
    <h3><a href="{{ .Permalink }}">Week {{ .Params.week }}</a></h3>

    {{ with .Params.tags }}
    <p>
      Topics: {{ delimit . "; " }}
    </p>
    {{ end }}
    {{ with .Params.due }}
    <h4>Due</h4>
    <p>
      <ul>
        {{ range . }}
          <li>
            <a href="{{ .url | relURL }}">{{ .title }}</a> {{ dateFormat "Jan 2, 3:04 PM" .date }}
          </li>
        {{ end }}
      </ul>
    </p>
    {{ end }}
    {{ range .Params.meetings }}

      <hr>
      <h4>{{ dateFormat "Jan 2 (Monday)" .date }}</h4>

      {{ with .tags }}
        <p>
          <emph>Topics</emph>: {{ delimit . "; " }}
        </p>
      {{ end }}

      <h5>Readings</h5>
      <p>
          {{ with .before }}
            <ul>
              {{ range . }}
                {{ partial "list-reading" . }}
              {{ end }}
            </ul>
          {{ else }}
            None
          {{ end }}
      </p>
      {{ with .after }}
        <h5>Optional</h5>
        <p>
          <ul>
          {{ range . }}
            {{ partial "list-reading" . }}
          {{ end }}
          </ul>
        </p>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
{{ end }}
