{{ define "main" }}
<div class="container">

  <h1>Schedule</h1>

  {{ .Content }}

  <hr>

  <h2>Research Project</h2>

  See the <a href="{{ "pages/research_project/" | relURL }}"></a> page for instructions.

  <table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  {{ range .Params.project }}
    <tr>
      <td>
        <a href="{{ .url }}">{{ .name }}</a>
      </td>
      <td>
        {{ dateFormat "Jan 2, 2006 3:04 PM" .date }}
      </td>
    </tr>
  {{ end }}
  </tbody>
  </table>

  <hr>

  <h2>Assignments</h2>

  See the <a href="{{ "assigments/" | relURL }}"></a> page for instructions.

  <table class="table">
    <thead>
      <tr>
        <th>Assignment</th>
        <th>Submission Date</th>
        <th>Correction Date</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Params.assignments }}
    <tr>
      <td>
        <a href="{{ .url }}">{{ .name }}</a>
      </td>
      <td>
        {{ dateFormat "Jan 2, 2006 3:04 PM" .dueDate }}
      </td>
      <td>
        {{ dateFormat "Jan 2, 2006 3:04 PM" .correctionDate }}
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>

  <hr>

  <h2>Meetings</h2>

  {{ range .Data.Pages.ByDate }}
    <h3 id="{{ .Date.Format "2006-01-02" }}-{{ if .Params.lab }}lab{{ else }}class {{ end }}">{{ .Title | safeHTML }}</h3>
    <p>
      {{ .Date.Format "3:04 PM" }}&ndash; {{ dateFormat "3:04 PM" .Params.endTime }}
    </p>

    {{ with .Params.inclass }}
      <h5>In class</h5>
      <p>
        <ul>
          {{ range . }}
            <li>
              {{ . | markdownify }}
            </li>
          {{ end }}
        </ul>
      </p>
    {{ end }}
    <h5>Readings</h5>
    <p>
        {{ with .Params.readings }}
          <ul>
            {{ range . }}
              <li>
                {{ . | markdownify }}
              </li>
            {{ end }}
          </ul>
        {{ else }}
          None
        {{ end }}
    </p>
    {{ with .Params.optional }}
      <h5>Additional Resources</h5>
      <p>
        <ul>
          {{ range . }}
            <li>
              {{ . | markdownify }}
            </li>
          {{ end }}
        </ul>
      </p>
    {{ end }}

    {{ .Content }}

  {{ end }}
</div>
{{ end }}
