{{ define "main" }}
<div class="container">

  <h1>Schedule</h1>

  {{ .Content }}

  <hr>

  {{ range .Params.weeks }}
    <h3>Week {{ .week }}</h3>

    {{ range .classes }}
      <h5>{{ dateFormat "Monday, Jan 2, 2006" .date }} <small>{{ if .lab }}Lab{{ end }}</small></h5>
      <p>{{ if .description }} {{- .description | markdownify -}} {{ end }}</p>
      {{ if .readings }}
        <p>
        <strong>Readings before:</strong>
          <ul>
            {{ range .readings }}
              <li>{{- . | markdownify -}}</li>
            {{- end -}}
          </ul>
        </p>
      {{ end }}
      {{ if .inClass }}
        <p>
          <strong>In class:</strong>
          <ul>
            {{ range .inClass }}
              <li>{{- . | markdownify -}}</li>
            {{ end }}
          </ul>
        </p>
      {{ end }}
      {{ if .after }}
        <p>
          <strong>Optional readings after:</strong>
          <ul>
            {{ range .after }}
              <li>{{- . | markdownify -}}</li>
            {{ end }}
          </ul>
        </p>
      {{ end }}
    {{ end}}
    <hr>
  {{ end }}

</div>
{{ end }}
